body{
    text-align: center;
}

nav{
    height: 68px;
}

nav img{
    width: 166px;
    height: 67px;
}

.navbar button{
    border-radius: 0%;
}


p{
    font-family: outfit, sans-serif;
    font-size: 16px;
}

h1{
    font-family:outfit, sans-serif;
    font-size: 56px;
    font-style: bold;
}


.listaPaises img{
    width: 289px;
    height: 265px;
    padding: 50px;
}

.cardsSobreNos button{
    border-radius: 0%;
}

#texto-centro{
    margin-top: 100px;
}

footer{
    background-color: #D9D9D9;
    width: 1440px;
    height: 363px;
    margin-top: 0px;
}

.containerFooter{
    justify-content: space-between;
    padding: 30px;
}

.imagemFooter img{
    width: 230px;
    height: 93px;
}

.FooterNavbar{
    margin-left: 525px;
    background-color: #D9D9D9;
    text-align: center;
}


ul {
    list-style: none;
    display: center;
    justify-content: space-between;
    display: inline-block;
    padding: var(--space-xs); 
  }
  

/* Contêiner flexível para alinhar botão e ícone */
.d-flex {
    display: flex;
    justify-content: space-between; /* Botão à esquerda, ícone à direita */
    align-items: center; /* Alinhamento vertical central */
    width: 100%; /* Garante que os elementos usem toda a largura disponível */
}

/* Estilo para o botão */
#maisInfo {
    margin: 0 ; /* Remove margens extras */
}

/* Estilo para o ícone */
.favorito {
    width: 30px; /* Tamanho do ícone */
    height: 30px; /* Tamanho do ícone */
    cursor: pointer; /* Torna o ícone clicável */
}

