body{
    text-align: center;
}

/*CSS NavBar*/
nav{
    height: 68px;
}

nav img{
    width: 166px;
    height: 67px;
}

.navbar button{
    border-radius: 0%;
}


p{
    font-family: outfit, sans-serif;
    font-size: 16px;
}

h1{
    font-family:outfit, sans-serif;
    font-size: 56px;
    font-style: bold;
}


.listaPaises img{
    width: 289px;
    height: 265px;
    padding: 50px;
}

.cardsSobreNos button{
    border-radius: 0%;
}

#texto-centro{
    margin-top: 100px;
}

/*CSS FOOTER*/


footer{
    background-color: #D9D9D9;
    width: auto;
    height: 363px;
    /*margin-top: 0px;*/
    color: #283646;
    
}

.containerFooter{
   justify-content: space-between;
   text-align: center;
    padding: 30px; 
}

.imagemFooter img{
    width: 230px;
    height: 93px;
}

.FooterNavbar{
    background-color: #D9D9D9;

}

ul {
    list-style: none;
    display: center;
    justify-content: space-between;
    display: inline-block;
    padding: var(--space-xs); 
  }
  
/*NavBar e Footer*/
li {
    margin: 0 20px 0 20px;
}

.nav-link {
    color: black;
}

.social a {
    margin: 0 15px 0 15px;
}

.d-flex {
    display: flex;
    justify-content: space-between; /* Botão à esquerda, ícone à direita */
    align-items: center; /* Alinhamento vertical central */
    width: 100%; /* Garante que os elementos usem toda a largura disponível */
}


#maisInfo {
    margin: 0 ; /* Remove margens extras */
}

/* Estilo para o ícone */
.favorito {
    width: 30px; /* Tamanho do ícone */
    height: 30px; /* Tamanho do ícone */
    cursor: pointer; /* Torna o ícone clicável */
}

/*CSS BARRA PESQUISA*/

.barra{
    width: 30%;
    padding: 50px;
}

.barra button{
    border-radius: 0%;
} 

.pesquisa{
    position: relative;
    margin-left: 35%;
}




.card {
    border: 1px solid #ddd;
    border-radius: 0px;
    margin: 30px;
    padding: 5px;
    text-align: center;
    width: 400px;
    height: 100px;
    
  }
 
  .card img {
    max-width: 150px;
    height: auto;
    border-radius: 0px;
    position: relative;
    align-items: center;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5px;
  }
  
  