body{
    text-align: center;
}


/*CSS NavBar*/
nav{
    height: 68px;
}

nav img{
    width: 166px;
    height: 67px;
}

.navbar button{
    border-radius: 0%;
}


/*Detalhes*/


.container-detalhes{ 
    display: flex;
    justify-content: space-between;
    padding: 50px;
    text-align: left;
    margin-left: 5%;
    margin-right: 5%;
}


.detalhes {
    display: inline-block;
    text-align: left;
    padding: 50px;
    
    
}

.detalhes h2{
    text-align: center;
    padding: 10px;
}

.detalhes img {
    height: 150px;
    width: auto;
    margin-bottom: 20px;
    border-style: solid;
    border-color: #5d5d5d;
    border-width: 1px;
    margin-left: 20px;
       
}

.mapa{
    margin-top: 50px;
    display: inline-block;
    width: 500px;
    text-align: right;
    /*justify-content: space-between;*/
}

.mapa h3{
    text-align: center;
    padding: 10px;
}

/*CSS FOOTER*/


footer{
    background-color: #D9D9D9;
    width: auto;
    height: 363px;
    /*margin-top: 0px;*/
    color: #283646;
    
}

.containerFooter{
   justify-content: space-between;
   text-align: center;
    padding: 30px; 
}

.imagemFooter img{
    width: 230px;
    height: 93px;
}

.FooterNavbar{
    background-color: #D9D9D9;

}


ul {
    list-style: none;
    display: center;
    justify-content: space-between;
    display: inline-block;
    padding: var(--space-xs); 
    
  }


/*NavBar e Footer*/
li {
    margin: 0 20px 0 20px;
}

.nav-link {
    color: black;
}

.social a {
    margin: 0 15px 0 15px;
}

